@keyframes custom {
    0%{left: -100%;}
    100%{left: 20%; }
}

body {
    display: flex;
    justify-content: center;
}

.efeito-custom {
    position: absolute;
    animation-name: custom;
    animation-duration: 0.9s;
}

.max-w-custom {
    max-width: 500px;
}

#modoClaro {
    display: none;
}

#modoClaro:hover, #modoEscuro:hover {
    padding: 5px;
}

#textoModoClaro, #textoModoEscuro {
    margin-left: 10px;
    font-size: 12px;
    font-weight: bold;
}

#textoModoClaro {
    display: none;
}

#mensagemNotaNaoEncontrada {
    display: none;
}